.user-management-page__title {
    font-size: 32px;
    color: #575757;
    font-weight: 700;
}

.user-management-page__action-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #fafafa;
    padding: 1rem;
    width: 100%;
}

.user-management-page__action-group button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1rem;
    background-color: rgb(120, 233, 60);
    color: rgb(60, 100, 60);
    font-weight: 600;
    min-width: max(max-content, 8rem);
    padding: 1rem 2rem;
    min-height: 2rem;
    transition: color background 200ms ease-in;
}

.user-management-page__action-group button:active,
.user-management-page__action-group button:hover {
    background-color: rgb(110, 203, 55);
}